/* ==========================================================================
Imported css libraries
========================================================================== */

@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Heebo:400|Yanone+Kaffeesatz:200');

/* ==========================================================================
Author's custom styles
========================================================================== */

/* VARIABLES */

/* @lost flexbox flex; */

$bgc: #F2F1F0;
$altBgc: #3C3C3C;
$text: #4C4C4C;
$darkText: #3C3C3C;
$lightText: #F2F1F0;
$darkerLightText: #ACA69F;
$link: #87A752;
$lightLink: #F2F1F0;
$linkActive: #87A752;

/* ROOT STYLES */

html {
    font-size: 10px;
    line-height: 1.4;
    background-color: $bgc;
    height: 100%;
    margin: 0;
}

body {
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
}

h2 {
    color: $darkText;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.8rem;
}

p {
    color: $text;
    font-family: 'heebo', sans-serif;
}

a {
    color: $link;
    font-style: italic;
    font-family: 'heebo', sans-serif;
    &:hover {
        color: $linkActive;
    }
}

span {
    color: $link;
}

.wrapper {
    min-height: 100%;
}

/* HEADER */

header {
    background-color: $altBgc;
    border-bottom:0.5rem solid $text;
}

.navigation {
    lost-center: 960px;

    & h1 {
        color: $lightText;
        lost-row: 1/1;
        text-align: center;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        margin: 0;
    }

    & h3 {
        color: $darkerLightText;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        lost-row: 1/1;
        text-align: center;
        margin: 0;

    }

    &--links {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: $lightLink;
            &:hover {
                color: $linkActive;
            }
        }
        span {
            color: $lightLink;
            padding: 0 2rem 0 2rem; 
        }
    }
}

/* CONTENT */

.main {
    lost-utility: clearfix;
    lost-center: 960px;
    padding-bottom: 100px;
    & > div {
        lost-column: 1/1;
    }
}

/* FOOTER */

footer {
    height: 100px;
    margin-top: -100px;
    background-color: $altBgc;
    lost-flex-container: column;
    & a {
        color: $lightLink;
        padding-top: 1rem;
        lost-center: auto;
        text-align: center;
    }
    & p {
        color: $lightLink;
        lost-center: auto;
        text-align: center;
    }
}













/* ==========================================================================
Print styles
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
