/* ==========================================================================
Imported css libraries
========================================================================== */

@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Heebo:400|Yanone+Kaffeesatz:200');
@import "../img/fontello.css";

/* ==========================================================================
Author's custom styles
========================================================================== */

/* VARIABLES */


$bgc: #F2F1F0;
$bgcAlt: #3C3C3C;
$text: #4C4C4C;
$textDark: #3C3C3C;
$textLight: #F2F1F0;
$link: #87A752;
$linkActive: darken(#87A752, 30%);
$linkLight: #F2F1F0;
$linkLightActive: #87A752;

/* ROOT STYLES */

html {
    font-size: 10px;
    line-height: 1.4;
    background-color: $bgc;
    height: 100%;
    margin: 0;
}

body {
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
}

h2 {
    color: $textDark;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3.4rem;
}

h3 {
    color: $textDark;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.8rem;
}

h4 {
    color: $textDark;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.2rem;
}

p {
    color: $text;
    font-family: 'heebo', sans-serif;
}

a {
    color: $link;
    font-style: italic;
    font-family: 'heebo', sans-serif;
    &:hover {
        color: $linkActive;
    }
}

li {
    color: $text;
}

span {
    color: $link;
}

.wrapper {
    min-height: 100%;
}

/* HEADER */

header {
    z-index: 150;
    background-color: $bgcAlt;
    border-bottom:0.5rem solid lighten($link, 20%);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 1000ms ease;
}

#header__large {
    transform: translateY(0%);
}
#header__small {
    transform: translateY(-57%);
}


.navigation {
    outline: 1px solid transparent;
    lost-center: 96rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $textLight;
        lost-row: 1/1;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        margin: 0;
    }
    >a {
        text-decoration: none;
        font-style: normal;
    }

    h3 {
        color: darken($textLight, 30%);
        font-family: 'Yanone Kaffeesatz', sans-serif;
        margin: 0;
    }

    &--links {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;

        &>a {
            display: flex;
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: $linkLight;
            &:hover {
                color: $linkLightActive;
            }
        }
        & span {
            color: $linkLight;
            padding: 0 0.5rem; 
            @media screen and (min-width: 460px) {
                padding: 0 2rem;
            }
        }
    }
}

/* CONTENT */

.main {
    lost-center: 96rem;
    padding: 1rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
    >div {
        margin-bottom: 10rem;
    }
}

.top-wrapper {
    display: flex;
    flex-direction: column;
    &>div:last-child {
        margin-top: 10rem;
    }
    @media screen and (min-width: 960px) {
        flex-direction: row;
        &>div:last-child {
            margin-top: 0;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 960px) {
        align-items: flex-start;
    }
    &--image {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            margin-bottom: 0;
        }
        img {
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            margin: 0 auto;
        }
        @media screen and (min-width: 760px) {
            align-items: center;
            img {
                margin: 0;
            }
        }
    }
    &--info {
        h4, p {
            text-align: left;
            @media screen and (min-width: 460px) {
                padding-left: 40px;
            }
            @media screen and (min-width: 960px) {
                padding-left: 0;
            }
        }
            max-width: 40rem;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        width: 19rem;
        @media screen and (min-width: 460px) {
            margin-right: 3rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &--languages {
        ul {
            margin-left: 1.3rem;
        }
    }
    &--graphic {
        ul {
            margin-right: 0.5rem;
        }
    }
    @media screen and (min-width: 460px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    &--title {
        display: flex;
        justify-content: center;
        text-align: center;
        @media screen and (min-width: 760px) {
            justify-content: center;
        }
    }
    ul {
        padding-left: 2rem;
    }
    h3 {
        margin: 0;
    }
}

.projects {
    margin-bottom: 1rem;
    p {
        margin-bottom: 0;
    }                
    >div {
        margin-bottom: 8rem;
    }
    div:last-child {
        margin-bottom: 0rem;
    }
    &--title {
        text-align: center;
    }
    &--normal {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 560px) {
            flex-direction: row;
        }
        img {
            max-width: 200px;
            max-height: 141.45px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media screen and (min-width: 560px) {
                margin-left: 2rem;
            }
            h3 {
                margin: 0;
                font-style: normal;
            }
            a {
                text-decoration: none;
                margin: 0 auto;
                &:hover {
                    h3 {
                        color: $link;
                    }
                }
                @media screen and (min-width: 560px) {
                    margin: 0 0;
                }
            }
        }
    }
    &--reverse {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 560px) {
            flex-direction: row-reverse;
        }
        img {
            margin-top: 2rem;
            max-width: 200px;
            max-height: 141.45px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 560px) {
                margin-right: 2rem;
                align-items: flex-start;
            }
            h3 {
                margin: 0;
                font-style: normal;
            }
            a {
                text-decoration: none;
                &:hover {
                    h3 {
                        color: $link;
                    }
                }
            }
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
        font-size: 3rem;
        color: $textDark;
    }
    >div {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 2rem;
            &:nth-child(2) {
            }
        }
    }
}


/* FOOTER */

footer {
    border-top:0.5rem solid lighten($link, 20%);
    height: 11rem;
    margin-top: -11rem;
    background-color: $bgcAlt;
    &>div {
        width: 100%;
        height: 6rem;
        display:flex;
        justify-content: center;
        align-items: center;
        & a {
            height: 100%;
            display: flex;
            align-items: center;
            color: $linkLight;
            &:hover {
                color: $linkLightActive;
            }
        }
    }
    & p {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        color: $linkLight;
        margin: 0;
    }
}













/* ==========================================================================
Print styles
========================================================================== */

@media print {
    *,
        *:before,
        *:after {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
            text-shadow: none !important;
        }

        a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
    }
